{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>

        <!-- Bootstrap-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
              integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
              crossorigin="anonymous">

        <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400" rel="stylesheet">

        <!-- Custom styles -->
        <link rel="stylesheet" href="{% static 'css/landing.css' %}">


    </head>
    <body>

        <div class="general-container">
            <div class="container top-container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <h1 class="title">Наш магазин скоро откроется!<br>
                        Оставляйте Ваш имейл в форме ниже</h1>
                        <div>
                            <form action="" method="post" class="form-inline text-center">{% csrf_token %}
                             <div class="form-group">
                                 <label>Ваш имейл: </label>
                                 <input title="{{ form.email.name }}" name="{{ form.email.name }}" class="form-control">
                             </div>
                             <div class="form-group">
                                 <label>Ваше имя: </label>
                                 <input title="{{ form.name.name }}" name="{{ form.name.name }}" class="form-control">
                             </div>
                             <button type="submit" class="btn btn-primary btn-orange">Отправить</button>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- jQuery -->
        <script src="http://code.jquery.com/jquery-3.3.1.min.js"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
                integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
                crossorigin="anonymous"></script>
    </body>
</html>